PORT=3000
SECRET=
ADMIN_SECRET=
SCHOOL=
WHATSAPP_PROVIDER=whatsapp-web.js

ENCRYPTION_KEY=
ENCRYPT_RESPONSE=false

NODE_ENV=DEVELOPMENT
LOG_LEVEL=info
ENABLE_FILE_LOGGING=true
ENABLE_CONSOLE_LOGGING=true
LOG_DIR=./logs
MAX_LOG_FILE_SIZE=10m
MAX_LOG_FILES=5